@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-inter;
    }

    h1 {
        @apply pb-4 text-2xl font-medium text-text-primary;
    }

    h2 {
        @apply font-medium text-text-primary;
    }

    p {
        @apply text-text-secondary;
    }

    a {
        @apply text-text-secondary;
    }

    span {
        @apply text-text-primary;
    }

    .button-primary {
        @apply bg-accent hover:bg-accent-hover text-primary-darker;
    }

    .button-secondary {
        @apply bg-primary-lighter hover:bg-primary-lighter-hover text-text-secondary;
    }

    /*Remove white background on Webkit browsers*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
        transition: background-color 5000s;
        -webkit-text-fill-color: #8C9BAB !important;
    }

    /*Mac autofill icon*/
    input:not(input:-webkit-autofill)::-webkit-contacts-auto-fill-button {
        background-color: #8C9BAB;
    }
}