@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-inter;
    }

    h1 {
        @apply pb-4 text-xl sm:text-2xl font-bold text-light-text-primary dark:text-text-primary;
    }

    h2 {
        @apply font-medium text-light-text-primary dark:text-text-primary;
    }

    p {
        @apply text-light-text-secondary dark:text-text-secondary;
    }

    a {
        @apply text-light-text-secondary dark:text-text-secondary;
    }

    span {
        @apply text-light-text-primary dark:text-text-primary;
    }

    .button-primary {
        @apply bg-light-accent dark:bg-accent hover:bg-light-accent-hover dark:hover:bg-accent-hover text-light-text-primary dark:text-primary-darker;
    }

    .button-secondary {
        @apply bg-light-primary-lighter  dark:bg-primary-lighter dark:hover:bg-primary-lighter-hover hover:bg-light-primary-lighter-hover text-light-text-secondary dark:text-text-secondary;
    }

    /*Remove white background on Webkit browsers*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
        transition: background-color 5000s;
        -webkit-text-fill-color: #8C9BAB !important;
    }

    /*Mac autofill icon*/
    input:not(input:-webkit-autofill)::-webkit-contacts-auto-fill-button {
        background-color: #8C9BAB;
    }
}