---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mikael Röthig | Experience">
    <div>
        <h1>Experience</h1>
        <p class="text-sm pb-4">
            Explore my professional experience and the skills I've developed throughout my career.
        </p>
    </div>
</Layout>