---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mikael Röthig">
	<main class="flex px-12 gap-4 min-h-screen">
		<div class="top-0 w-1/2 max-h-screen sticky bg-gray-50">
			<div class="py-24">
				<h1 class="text-5xl">Mikael Röthig</h1>
			</div>
		</div>
		<div class="w-1/2 bg-gray-50">
			<div class="py-24">
			</div>
		</div>
	</main>
</Layout>