---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Copy from "../assets/icons/Copy.astro";
import Experience from "../components/Experience.astro";
import Stack from "../components/Stack.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Mikael Röthig | Home">
    <div>
        <h1>
            Howzit. I'm Mikael Röthig.<br>
            <span class="text-text-secondary">Software Developer from</span> Cape Town 🇿🇦<br>
        </h1>
        <p class="text-sm">
            Skilled software developer with a passion for crafting user-friendly experiences. I excel in front-end
            development, bringing clean code and visually appealing designs to life, ensuring a seamless and engaging
            user journey across all devices.
        </p>

        <div class="flex gap-x-2 pt-4">
            <Button href="/" label="About me"/>

            <Button href="/" label="Email">
                <Copy height="16" width="16" tailwindAttr="fill-text-secondary"/>
            </Button>
        </div>
    </div>

    <Experience />
    <Stack/>
    <Contact/>
</Layout>