---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mikael Röthig | Home">
    <h1>
        Howzit. I'm Mikael Röthig.<br>
        <span class="text-text-secondary">Software Developer from</span> Cape Town<br>
    </h1>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Semper nisi posuere tristique; adipiscing lacus
        cursus. Urna tellus nullam accumsan facilisis vestibulum lacinia morbi.
    </p>
</Layout>