---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Copy from "../assets/icons/Copy.astro";
import Experience from "../components/Experience.astro";
import Stack from "../components/stack/Stack.astro";
import ContactForm from "../components/ContactForm.astro";
import StackEntry from "../components/stack/StackEntry.astro";
import FigmaLogo from "../assets/logos/Figma.astro";
import HTML from "../assets/logos/HTML.astro";
import TailwindCSS from "../assets/logos/TailwindCSS.astro";
import AstroJS from "../assets/logos/AstroJS.astro";
import CSS from "../assets/logos/CSS.astro";
import CSharp from "../assets/logos/CSharp.astro";
import Sulu from "../assets/logos/Sulu.astro";
---

<Layout title="Mikael Röthig | Home">
    <div>
        <h1>
            Howzit. I'm Mikael Röthig.<br>
            <span class="text-text-secondary">Software Developer from</span> Cape Town<br>
        </h1>
        <p class="text-sm">
            Skilled software developer with a passion for crafting user-friendly experiences. I excel in front-end
            development, bringing clean code and visually appealing designs to life, ensuring a seamless and engaging
            user journey across all devices.
        </p>

        <div class="flex gap-x-2 pt-4">
            <Button href="/about" label="About me" color="button-primary"/>

            <Button href="/" label="Email" color="button-secondary">
                <Copy height="16" width="16" tailwindAttr="fill-text-secondary"/>
            </Button>
        </div>
    </div>

    <Experience />
    <Stack heading="My Tech Stack" viewAllButton>
        <StackEntry href="https://www.php.net/" heading="PHP" subheading="Lorem ipsum">
            <CSS tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://learn.microsoft.com/en-us/dotnet/csharp/" heading="C#" subheading="Lorem ipsum">
            <CSharp tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://astro.build/" heading="Astro" subheading="Lorem ipsum">
            <AstroJS tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://sulu.io/" heading="Sulu" subheading="Lorem ipsum">
            <Sulu tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://developer.mozilla.org/en-US/docs/Web/HTML" heading="HTML" subheading="Lorem ipsum">
            <HTML tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://tailwindcss.com/" heading="Tailwind CSS" subheading="Lorem ipsum">
            <TailwindCSS tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
    </Stack>
    <ContactForm/>
</Layout>