---
import Layout from '../layouts/Layout.astro';
import StackEntry from "../components/stack/StackEntry.astro";
import TechStack from "../components/stack/Stack.astro";

import CSS from '../assets/logos/CSS.astro';
import Php from '../assets/logos/Php.astro';
import Typescript from '../assets/logos/Typescript.astro';
import Javascript from '../assets/logos/Javascript.astro';
import HTML from "../assets/logos/HTML.astro";
import Sass from "../assets/logos/Sass.astro";
import Git from "../assets/logos/Git.astro";
import Github from "../assets/logos/Github.astro";
import VSCode from "../assets/logos/VSCode.astro";
import AdobeXD from "../assets/logos/AdobeXD.astro";
import AdobeIllustrator from "../assets/logos/AdobeIllustrator.astro";
import AdobePhotoshop from "../assets/logos/AdobePhotoshop.astro";
import TailwindCSS from "../assets/logos/TailwindCSS.astro";
import AstroJS from "../assets/logos/AstroJS.astro";
import Figma from "../assets/logos/Figma.astro";
import WebStorm from "../assets/logos/WebStorm.astro";
import PhpStorm from "../assets/logos/PhpStorm.astro";
import Unity from "../assets/logos/Unity.astro";
import Blender from "../assets/logos/Blender.astro";
import StimulusJS from "../assets/logos/StimulusJS.astro";
import Hugo from "../assets/logos/Hugo.astro";
import Symfony from "../assets/logos/Symfony.astro";
import Shopware from "../assets/logos/Shopware.astro";
import Sulu from "../assets/logos/Sulu.astro";
import CSharp from "../assets/logos/CSharp.astro";
import Vercel from "../assets/logos/Vercel.astro";
---

<Layout title="Mikael Röthig | Stack">
    <div>
        <h1>Stack</h1>
        <p class="text-sm">
            The technologies that power my projects, including programming languages, libraries, frameworks, platforms,
            and tools.
        </p>
    </div>

    <TechStack heading="Programming Languages">
        <StackEntry href="https://www.php.net/" heading="PHP" subheading="General purpose">
            <Php tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://learn.microsoft.com/en-us/dotnet/csharp/" heading="C#" subheading="General purpose">
            <CSharp tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.typescriptlang.org/" heading="Typescript" subheading="Javascript extension">
            <Typescript tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.javascript.com/" heading="Javascript" subheading="Web programming">
            <Javascript tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://developer.mozilla.org/en-US/docs/Web/HTML" heading="HTML" subheading="Standard markup language">
            <HTML tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://developer.mozilla.org/en-US/docs/Web/CSS" heading="CSS" subheading="Style sheets">
            <CSS tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://sass-lang.com/" heading="SASS" subheading="CSS extension">
            <Sass tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
    </TechStack>

    <TechStack heading="Libraries & Frameworks">
        <StackEntry href="https://symfony.com/" heading="Symfony" subheading="PHP framework">
            <Symfony tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.shopware.com/" heading="Shopware" subheading="Ecommerce platform">
            <Shopware tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://sulu.io/" heading="Sulu" subheading="CMS">
            <Sulu tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://gohugo.io/" heading="Hugo" subheading="Static site generator">
            <Hugo tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://astro.build/" heading="Astro" subheading="Javascript framework">
            <AstroJS tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://tailwindcss.com/" heading="Tailwind CSS" subheading="CSS framework">
            <TailwindCSS tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://stimulus.hotwired.dev/" heading="Stimulus JS" subheading="Javascript framework">
            <StimulusJS tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
    </TechStack>

    <TechStack heading="Tools & Software">
        <StackEntry href="https://git-scm.com/" heading="Git" subheading="Version control">
            <Git tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://github.com/" heading="Github" subheading="Version control">
            <Github tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.jetbrains.com/webstorm/" heading="WebStorm" subheading="Web development IDE">
            <WebStorm tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.jetbrains.com/phpstorm/" heading="PhpStorm" subheading="PHP IDE">
            <PhpStorm tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://code.visualstudio.com/" heading="Visual Studio Code" subheading="IDE">
            <VSCode tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.figma.com/" heading="Figma" subheading="Design tool">
            <Figma tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.adobe.com/products/xd.html" heading="Adobe XD" subheading="Vector design tool">
            <AdobeXD tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.adobe.com/products/illustrator.html" heading="Adobe Illustrator" subheading="Vector graphics editor">
            <AdobeIllustrator tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.adobe.com/products/photoshop.html" heading="Adobe Photoshop" subheading="Raster graphics editor">
            <AdobePhotoshop tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://unity.com/" heading="Unity" subheading="Game development">
            <Unity tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://www.blender.org/" heading="Blender" subheading="3D modeling">
            <Blender tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
        <StackEntry href="https://vercel.com/" heading="Vercel" subheading="Deployment">
            <Vercel tailwindAttr="w-12 h-12 p-2 rounded-lg bg-primary-darker"/>
        </StackEntry>
    </TechStack>
</Layout>