---
import PlainLayout from "../layouts/PlainLayout.astro";
import Envelope from "../assets/icons/CheckCircle.astro";
---

<PlainLayout title="Mikael Röthig | Contact">
    <div class="space-y-24 mx-auto text-center">
        <div>
            <div class="flex justify-center pb-2">
                <Envelope height="128" width="128" tailwindAttr="fill-text-primary"/>
            </div>

            <h1 class="flex justify-center">Thanks for submitting!</h1>
            <p class="flex justify-center">
                Your message has been sent successfully. We'll be in touch soon!
            </p>
        </div>

        <a href="/" class="flex justify-center px-4 py-3 rounded-lg text-sm button-primary transition duration-200">Go Home</a>
    </div>
</PlainLayout>