---
interface Props {
    href: string;
    label: string;
}

const { href, label} = Astro.props;
---

<a href={href} class="flex w-fit px-4 py-1.5 rounded-lg text-sm bg-primary-lighter hover:bg-primary-lighter-hover text-text-secondary transition duration-200">
    <div class="flex gap-2 items-center">
        <slot />

        {label}
    </div>
</a>