---

---

<div class="space-y-4">
    <h2 class="pb-2 border-b border-primary-lighter">Contact</h2>

    <p class="text-sm">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Ultricies nec volutpat nostra cubilia suscipit convallis
        dictumst.
    </p>

    <form action="mailto:mrrothig@gmail.com" method="post" enctype="text/plain" class="grid md:grid-cols-2 gap-4">
        <input class="px-4 py-3 rounded-lg bg-primary border border-primary-lighter placeholder-text-secondary text-text-primary text-sm" type="text" name="name" id="name" placeholder="Name" required />
        <input class="px-4 py-3 rounded-lg bg-primary border border-primary-lighter placeholder-text-secondary text-text-primary text-sm" type="email" name="email" id="email" placeholder="Email address" required />
        <textarea class="px-4 py-3 md:col-span-2 rounded-lg bg-primary border border-primary-lighter placeholder-text-secondary text-text-primary text-sm" name="message" id="message" placeholder="Message" rows="8" required />

        <input class="px-4 py-3 md:col-span-2 rounded-lg text-sm bg-text-primary hover:bg-text-secondary transition duration-200 hover:cursor-pointer" type="submit" value="Submit"/>

    </form>
</div>