---

---

<div class="space-y-4">
    <h2>Contact</h2>

    <p class="text-sm">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Ultricies nec volutpat nostra cubilia suscipit convallis
        dictumst.
    </p>

    <form action="https://api.web3forms.com/submit" method="POST" class="grid md:grid-cols-2 gap-4">
        <input type="hidden" name="access_key" value="9d626292-3622-48e4-93bc-286fb7d542f5">
        <input type="hidden" name="subject" value="New Message from my Portfolio Site">
        <input type="hidden" name="redirect" value="https://www.google.com/">


        <input type="text" name="name" placeholder="Name" required class="px-4 py-3 rounded-lg bg-primary placeholder-text-secondary text-text-primary focus:outline-none focus:bg-primary-lighter text-sm"  />
        <input type="email" name="email" placeholder="Email address" required class="px-4 py-3 rounded-lg bg-primary placeholder-text-secondary text-text-primary focus:outline-none focus:bg-primary-lighter text-sm" />
        <textarea name="message" placeholder="Message" rows="8" required class="px-4 py-3 md:col-span-2 rounded-lg bg-primary placeholder-text-secondary text-text-primary focus:outline-none focus:bg-primary-lighter text-sm" />
        <button type="submit" class="px-4 py-3 md:col-span-2 rounded-lg font-medium text-sm button-primary transition duration-200 hover:cursor-pointer">Submit</button>
    </form>
</div>