---
import ArrowUpRight from "../assets/icons/ArrowUpRight.astro";
import Tag from "../components/Tag.astro";
import CaretRight from "../assets/icons/CaretRight.astro";
---

<div class="space-y-4">
    <h2>Experience</h2>

    <!--PositiveDigits-->
    <a href="https://positivedigits.com/" target=”_blank” class="grid px-6 py-4 gap-y-2 rounded-lg bg-primary hover:bg-primary-lighter transition-colors duration-200 group">
        <span class="text-xs text-text-secondary font-semibold">APR 2023 - SEP 2024</span>

        <div class="flex flex-wrap font-medium">
            <span class="group-hover:text-accent">Junior Web Developer</span>
            <span class="group-hover:text-accent">・</span>
            <span class="flex gap-x-1 items-center group-hover:text-accent">
                PositiveDigits
                <ArrowUpRight height="16" width="16" tailwindAttr="fill-text-primary group-hover:fill-accent group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform"/>
            </span>
        </div>
        <p class="flex text-sm">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Semper nisi posuere tristique; adipiscing lacus
            cursus. Urna tellus nullam accumsan facilisis vestibulum lacinia morbi.
        </p>
        <div class="flex flex-wrap gap-2">
            <Tag label="PHP"/>
            <Tag label="HTML"/>
            <Tag label="Tailwind CSS"/>
            <Tag label="SCSS"/>
            <Tag label="Typescript"/>
            <Tag label="Adobe XD"/>
            <Tag label="Adobe Illustrator"/>
            <Tag label="Adobe Photoshop"/>
        </div>
    </a>

    <a href="/resume.pdf" target="_blank" class="flex items-center group w-fit">
        <p class="text-sm group-hover:text-accent">View Full Resume</p>
        <CaretRight height="14" width="14" tailwindAttr="fill-text-secondary group-hover:fill-accent group-hover:translate-x-0.5 transition-transform duration-200"/>
    </a>
</div>