---
import CaretRight from "../assets/icons/CaretRight.astro";
import ExperienceEntry from "./experience/ExperienceEntry.astro";
---

<div class="space-y-4">
    <h2>Experience</h2>

    <ExperienceEntry
        position="Software Engineer"
        company="Innovatiespotter"
        companyWebsite="https://www.innovatiespotter.nl/"
        timeSpan="MAY 2025 - PRESENT"
        description="Web development, web scraping and API implementations. PostgreSQL, Docker and backend system optimizations. Navigating and improving infrastructure."
        tags={["PHP", "SQL", "Docker",]}
    />

    <ExperienceEntry
            position="Junior Web Developer"
            company="PositiveDigits"
            companyWebsite="https://positivedigits.com/"
            timeSpan="APR 2023 - SEP 2024"
            description="Developed a multi-language lead generation site (Sulu, Tailwind CSS, Stimulus JS). Worked in a team to maintain a large e-commerce platform (100,000+ products). Designed & implemented clean front-end solutions."
            tags={["PHP", "HTML", "TailwindCSS", "SCSS", "Typescript", "Adobe XD", "Adobe Illustrator", "Adobe Photoshop"]}
    />

    <a href="/resume.pdf" target="_blank" class="flex items-center group w-fit">
        <p class="text-sm group-hover:text-accent">View Full Resume</p>
        <CaretRight height="14" width="14" tailwindAttr="fill-text-secondary group-hover:fill-accent group-hover:translate-x-0.5 transition-transform duration-200"/>
    </a>
</div>