---

---

<div class="py-4 space-y-8 border-t border-primary-lighter text-sm">
    <p>
        Designed using
        <a href="https://figma.com/" target=”_blank” class="text-text-primary hover:text-accent">Figma</a>
        and coded in
        <a href="https://jetbrains.com/webstorm/" target=”_blank” class="text-text-primary hover:text-accent">Webstorm</a>.
        Built with
        <a href="https://astro.build/" target=”_blank” class="text-text-primary hover:text-accent">Astro</a>
        and
        <a href="https://tailwindcss.com/" target=”_blank” class="text-text-primary hover:text-accent">Tailwind</a>.
        All text is set in the
        <a href="https://fonts.google.com/specimen/Inter" target=”_blank” class="text-text-primary hover:text-accent">Inter</a>
        typeface.
    </p>

    <p class="flex justify-center">©2025 Mikael Röthig</p>
</div>