---

---

<div class="pt-4 space-y-4 border-t border-primary-lighter">
    <p>
        Designed using
        <a href="https://figma.com/" target=”_blank” class="text-text-primary">Figma</a>
        and coded in
        <a href="https://jetbrains.com/webstorm/" target=”_blank” class="text-text-primary">Webstorm</a>.
        Built with
        <a href="https://astro.build/" target=”_blank” class="text-text-primary">Astro</a>
        and
        <a href="https://tailwindcss.com/" target=”_blank” class="text-text-primary">Tailwind</a>.
        All text is set in the
        <a href="https://fonts.google.com/specimen/Inter" target=”_blank” class="text-text-primary">Inter</a>
        typeface.
    </p>

    <p class="flex justify-end">©2025 Mikael Röthig</p>
</div>