---
import Button from "./Button.astro";
import MapPin from "../assets/icons/MapPin.astro";
import Envelope from "../assets/icons/Envelope.astro";

import ProfilePic from "../assets/images/profile-pic.webp"
import UserCircle from "../assets/icons/UserCircle.astro";

const now = new Date();
const timezoneOffset = 2;
const utcTime = now.getTime() + (now.getTimezoneOffset() * 60000);
const utcPlus2 = new Date(utcTime + (timezoneOffset * 60 * 60 * 1000));

const hours = utcPlus2.getHours();
const minutes = utcPlus2.getMinutes();
const timezoneString = `UTC +${String(timezoneOffset).padStart(2, '0')}:00`;
---

<div>
    <div class="flex items-center gap-x-4 pb-4">
        <img class="hidden xs:flex rounded-full h-12 w-12 sm:h-14 sm:w-14 border-2 border-accent p-0.5" src={ProfilePic.src} alt="Profile picture" />

        <h1 class="font-bold pb-0">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-accent to-accent-hover">Howzit.</span> I'm Mikael Röthig.<br>
            <span class="text-text-secondary">Software Engineer</span>
        </h1>
    </div>

    <div class="flex justify-between">
        <div class="flex sm:flex-grow gap-x-0.5 text-sm pb-8">
            <span class="flex items-center bg-primary rounded-bl-lg rounded-tl-lg py-1.5 px-4">
                <MapPin height="16" width="16" tailwindAttr="stroke-text-primary"/>
            </span>
            <span class="flex flex-grow bg-primary py-1.5 px-4 sm:rounded-br-none sm:rounded-tr-none rounded-br-lg rounded-tr-lg">
                Groningen, Netherlands
            </span>
            <div class="hidden sm:flex items-center gap-x-1 rounded-br-lg rounded-tr-lg py-1.5 px-4 bg-primary-lighter">
                <span class="text-text-primary">
                    {hours}:{minutes}
                </span>
                <span class="text-text-secondary">
                    ({timezoneString})
                </span>
            </div>
        </div>
    </div>

    <p class="text-sm pb-4">
        I build user-friendly websites and applications with a focus on clean code and visually appealing designs.
    </p>

    <div class="flex gap-x-2">
        <Button href="/about" label="About me" color="button-primary">
            <UserCircle height="16" width="16" tailwindAttr="fill-primary"/>
        </Button>

        <Button href="mailto:mrrothig@gmail.com" label="Send a mail" color="button-secondary">
            <Envelope height="16" width="16" tailwindAttr="fill-text-secondary"/>
        </Button>
    </div>
</div>