---
import House from '../assets/icons/House.astro';
import Code from '../assets/icons/Code.astro';
import Stack from '../assets/icons/Stack.astro';
import UserCircle from '../assets/icons/UserCircle.astro';
import Briefcase from "../assets/icons/Briefcase.astro";
---

<header class="sticky w-fit inset-0">
    <div class="absolute">
        <div class="flex p-4 items-center h-screen">
            <div class="p-1.5 border rounded-full bg-primary border-primary-lighter space-y-2 shadow">
                <a href="/"
                   class="flex p-2 rounded-full hover:bg-primary-lighter transition-colors duration-200"
                >
                    <House
                        width="16"
                        height="16"
                        tailwindAttr="fill-text-secondary"
                    />
                </a>
                <a href="/experience"
                   class="flex p-2 rounded-full hover:bg-primary-lighter transition-colors duration-200"
                >
                    <Briefcase
                            width="16"
                            height="16"
                            tailwindAttr="fill-text-secondary"
                    />
                </a>
                <a href="/projects"
                   class="flex p-2 rounded-full hover:bg-primary-lighter transition-colors duration-200"
                >
                    <Code
                        width="16"
                        height="16"
                        tailwindAttr="fill-text-secondary"
                    />
                </a>
                <a href="/stack"
                   class="flex p-2 rounded-full hover:bg-primary-lighter transition-colors duration-200"
                >
                    <Stack
                        width="16"
                        height="16"
                        tailwindAttr="fill-text-secondary"
                    />
                </a>
                <a href="/about"
                   class="flex p-2 rounded-full hover:bg-primary-lighter transition-colors duration-200"
                >
                    <UserCircle
                        width="16"
                        height="16"
                        tailwindAttr="fill-text-secondary"
                    />
                </a>
            </div>
        </div>
    </div>
</header>