---
import House from '../assets/icons/House.astro';
import TerminalWindow from "../assets/icons/TerminalWindow.astro";
import Stack from '../assets/icons/Stack.astro';
import UserCircle from '../assets/icons/UserCircle.astro';

const CurrentPage = Astro.url.pathname;
---

<header class="sticky inset-0 z-50">
    <div class="absolute z-20 pointer-events-none">
        <div class="flex p-4 justify-center md:items-center w-screen md:w-fit h-screen">
            <div class="flex mt-auto md:mt-0 h-fit md:block p-1.5 rounded-lg border border-light-primary-lighter dark:border-primary-lighter bg-light-primary dark:bg-primary backdrop-blur space-x-2 md:space-x-0 space-y-0 md:space-y-2 pointer-events-auto shadow">
                <a href="/"
                   class={`flex p-2 rounded-md transition-colors duration-200 ${CurrentPage === '/' ? 'bg-light-accent dark:bg-accent-hover/10' : 'hover:bg-light-primary-lighter dark:hover:bg-primary-lighter'} group`}
                >
                    <House
                        width="16"
                        height="16"
                        tailwindAttr={`${CurrentPage === '/' ? 'fill-light-text-primary dark:fill-accent' : 'fill-text-secondary'}`}
                    />
                    <div class="absolute invisible md:visible opacity-0 transition-opacity duration-2000 group-hover:opacity-100 h-fit w-fit translate-x-9 -translate-y-1 px-3 py-1 rounded-lg text-nowrap bg-light-primary dark:bg-primary text-light-text-secondary dark:text-text-secondary text-xs shadow pointer-events-none">Home</div>
                </a>

                <a href="/projects"
                   class={`flex p-2 rounded-md transition-colors duration-200 ${CurrentPage === '/projects' || CurrentPage === '/projects/' ? 'bg-light-accent dark:bg-accent-hover/10' : 'hover:bg-light-primary-lighter dark:hover:bg-primary-lighter'} group`}
                >
                    <TerminalWindow
                        width="16"
                        height="16"
                        tailwindAttr={`${CurrentPage === '/projects' || CurrentPage === '/projects/' ? 'fill-light-text-primary dark:fill-accent' : 'fill-text-secondary'}`}
                    />
                    <div class="absolute invisible md:visible opacity-0 transition-opacity duration-2000 group-hover:opacity-100 h-fit w-fit translate-x-9 -translate-y-1 px-3 py-1 rounded-lg text-nowrap bg-light-primary dark:bg-primary text-light-text-secondary dark:text-text-secondary text-xs shadow pointer-events-none">Projects</div>
                </a>

                <a href="/stack"
                   class={`flex p-2 rounded-md transition-colors duration-200 ${CurrentPage === '/stack' || CurrentPage === '/stack/' ? 'bg-light-accent dark:bg-accent-hover/10' : 'hover:bg-light-primary-lighter dark:hover:bg-primary-lighter'} group`}
                >
                    <Stack
                        width="16"
                        height="16"
                        tailwindAttr={`${CurrentPage === '/stack' || CurrentPage === '/stack/' ? 'fill-light-text-primary dark:fill-accent' : 'fill-text-secondary'}`}
                    />
                    <div class="absolute invisible md:visible opacity-0 transition-opacity duration-2000 group-hover:opacity-100 h-fit w-fit translate-x-9 -translate-y-1 px-3 py-1 rounded-lg text-nowrap bg-light-primary dark:bg-primary text-light-text-secondary dark:text-text-secondary text-xs shadow pointer-events-none">Stack</div>
                </a>

                <a href="/about"
                   class={`flex p-2 rounded-md transition-colors duration-200 ${CurrentPage === '/about' || CurrentPage === '/about/' ? 'bg-light-accent dark:bg-accent-hover/10' : 'hover:bg-light-primary-lighter dark:hover:bg-primary-lighter'} group`}
                >
                    <UserCircle
                        width="16"
                        height="16"
                        tailwindAttr={`${CurrentPage === '/about' || CurrentPage === '/about/' ? 'fill-light-text-primary dark:fill-accent' : 'fill-text-secondary'}`}
                    />
                    <div class="absolute invisible md:visible opacity-0 transition-opacity duration-2000 group-hover:opacity-100 h-fit w-fit translate-x-9 -translate-y-1 px-3 py-1 rounded-lg text-nowrap bg-light-primary dark:bg-primary text-light-text-secondary dark:text-text-secondary text-xs shadow pointer-events-none">About</div>
                </a>
            </div>
        </div>
    </div>

    <!--Gradient blur-->
    <div class="flex md:hidden fixed bottom-0 left-0 right-0 pointer-events-none">
        <div class="flex">
            <div class="relative w-screen h-[200px] rounded-none">
                <div class="absolute inset-0 z-10 backdrop-blur-[0.078125px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 37.5%);"/>
                <div class="absolute inset-0 z-10 backdrop-blur-[0.15625px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 50%);"/>
                <div class="absolute inset-0 z-10 backdrop-blur-[0.3125px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 62.5%);"/>
                <div class="absolute inset-0 z-10 backdrop-blur-[0.625px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgba(0, 0, 0, 0) 75%);"/>
                <div class="absolute inset-0 z-10 backdrop-blur-[1.25px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 87.5%);"/>
                <div class="absolute inset-0 z-10 backdrop-blur-[2.5px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);"/>
                <div class="absolute inset-0 z-10 backdrop-blur-[5px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);"/>
                <div class="absolute inset-0 z-10 backdrop-blur-[10px] rounded-none pointer-events-none" style="mask-image: linear-gradient(rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);"/>
            </div>
        </div>
    </div>
</header>