---
import FigmaLogo from "../assets/logos/Figma.astro";
import CaretRight from "../assets/icons/CaretRight.astro";
---

<div class="space-y-4">
    <h2>Stack</h2>

    <div class="grid sm:grid-cols-2 gap-2">
        <a href="https://www.php.net/" class="flex gap-x-4 items-center p-3 rounded-lg bg-primary hover:bg-primary-lighter transition-colors duration-200">
            <FigmaLogo tailwindAttr="w-12 h-12 rounded-lg"/>

            <div>
                <p class="text-text-primary">Figma</p>
                <p class="text-sm">Design</p>
            </div>
        </a>
        <a href="https://figma.com/" class="flex gap-x-4 items-center p-3 rounded-lg bg-primary hover:bg-primary-lighter transition-colors duration-200">
            <FigmaLogo tailwindAttr="w-12 h-12 rounded-lg"/>

            <div>
                <p class="text-text-primary">Figma</p>
                <p class="text-sm">Design</p>
            </div>
        </a>
        <a href="https://figma.com/" class="flex gap-x-4 items-center p-3 rounded-lg bg-primary hover:bg-primary-lighter transition-colors duration-200">
            <FigmaLogo tailwindAttr="w-12 h-12 rounded-lg"/>

            <div>
                <p class="text-text-primary">Figma</p>
                <p class="text-sm">Design</p>
            </div>
        </a>
        <a href="https://figma.com/" class="hidden sm:flex gap-x-4 items-center p-3 rounded-lg bg-primary hover:bg-primary-lighter transition-colors duration-200">
            <FigmaLogo tailwindAttr="w-12 h-12 rounded-lg"/>

            <div>
                <p class="text-text-primary">Figma</p>
                <p class="text-sm">Design</p>
            </div>
        </a>
        <a href="https://figma.com/" class="hidden sm:flex gap-x-4 items-center p-3 rounded-lg bg-primary hover:bg-primary-lighter transition-colors duration-200">
            <FigmaLogo tailwindAttr="w-12 h-12 rounded-lg"/>

            <div>
                <p class="text-text-primary">Figma</p>
                <p class="text-sm">Design</p>
            </div>
        </a>
        <a href="https://figma.com/" class="hidden sm:flex gap-x-4 items-center p-3 rounded-lg bg-primary hover:bg-primary-lighter transition-colors duration-200">
            <FigmaLogo tailwindAttr="w-12 h-12 rounded-lg"/>

            <div>
                <p class="text-text-primary">Figma</p>
                <p class="text-sm">Design</p>
            </div>
        </a>
    </div>

    <a href="/stack" class="flex items-center group">
        <p class="text-sm group-hover:text-text-primary">View All</p>
        <CaretRight height="14" width="14" tailwindAttr="fill-text-secondary group-hover:fill-text-primary group-hover:translate-x-0.5 transition-transform duration-200"/>
    </a>
</div>