---
interface Props {
    label: string;
}

const { label } = Astro.props;
---

<div class="px-3 py-1 rounded-lg text-nowrap bg-primary-lighter-hover">
    <p class="text-xs text-text-primary">{label}</p>
</div>