---
interface Props {
    label: string;
}

const { label } = Astro.props;
---

<div class="px-3 py-1 rounded-lg text-nowrap bg-light-accent dark:bg-accent-hover/10 backdrop-blur-md">
    <p class="text-xs text-light-text-primary dark:text-accent">{label}</p>
</div>